<div class="container-fluid">
  <div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-12">
      <ul>
        <li>
          <h2>Trabajo 1</h2> - <h3>year</h3> - <h2>Empreza</h2> - <img src="../../../assets/" alt="logo de empreza"></li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloribus iste minus atque numquam facilis pariatur quos ducimus quasi laudantium debitis quis illo reiciendis sunt itaque recusandae sint nihil harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste blanditiis numquam velit suscipit repellendus recusandae quia ea voluptate optio id, fugiat incidunt magnam porro quam reiciendis nam similique voluptas ducimus?</p>
      </ul>
      <ul>
        <li>
          <h2>Trabajo 1</h2> - <h3>year</h3> - <h2>Empreza</h2> - <img src="../../../assets/" alt="logo de empreza"></li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloribus iste minus atque numquam facilis pariatur quos ducimus quasi laudantium debitis quis illo reiciendis sunt itaque recusandae sint nihil harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste blanditiis numquam velit suscipit repellendus recusandae quia ea voluptate optio id, fugiat incidunt magnam porro quam reiciendis nam similique voluptas ducimus?</p>
      </ul>
      <ul>
        <li>
          <h2>Trabajo 1</h2> - <h3>year</h3> - <h2>Empreza</h2> - <img src="../../../assets/" alt="logo de empreza"></li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloribus iste minus atque numquam facilis pariatur quos ducimus quasi laudantium debitis quis illo reiciendis sunt itaque recusandae sint nihil harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste blanditiis numquam velit suscipit repellendus recusandae quia ea voluptate optio id, fugiat incidunt magnam porro quam reiciendis nam similique voluptas ducimus?</p>
      </ul>
      <ul>
        <li>
          <h2>Trabajo 1</h2> - <h3>year</h3> - <h2>Empreza</h2> - <img src="../../../assets/" alt="logo de empreza"></li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloribus iste minus atque numquam facilis pariatur quos ducimus quasi laudantium debitis quis illo reiciendis sunt itaque recusandae sint nihil harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste blanditiis numquam velit suscipit repellendus recusandae quia ea voluptate optio id, fugiat incidunt magnam porro quam reiciendis nam similique voluptas ducimus?</p>
      </ul>
    </div>
  </div>
</div>
