.container-fluid {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.row {
  background-color: #1976d2ce;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  padding: 30px;
}

h2, h3, h2, img {
  display: inline;
}

ul {
  margin-left: 100px;
}
