<div class="container-fluid">   
    <div class="row">
    <div class="parent">
        <div class="div1">
            <img src="../../../assets/FotoPerfil.jpg" alt="mi foto">
        </div>
        <div class="div2">
            <h1>Pablo A. Tapia</h1>
            <h3>Full Stack Developer Jr</h3>
        </div>
        <div class="div3">
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae non adipisci dolore atque neque accusamus error temporibus tempora iure aliquam laudantium nihil omnis laboriosam, recusandae necessitatibus similique modi natus rerum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dignissimos inventore sunt officiis hic sapiente? Soluta dolor facere eaque suscipit necessitatibus eveniet nam numquam, laboriosam ipsum praesentium commodi deserunt maiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto a cum ipsam? Molestiae veritatis ad ipsa obcaecati neque esse, voluptate quis quos magni molestias labore, facere eligendi sint, corrupti ut?</p>
        </div>
    </div>
</div>
</div>

