<div class="container-fluid">
  <div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-12">
      <ul>
        <li>
          <h2>educacion 1</h2> - <h3>year</h3> - <h2>Escuela</h2> - <img src="../../../assets/" alt="logo de Establecimiento"></li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloribus iste minus atque numquam facilis pariatur quos ducimus quasi laudantium debitis quis illo reiciendis sunt itaque recusandae sint nihil harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste blanditiis numquam velit suscipit repellendus recusandae quia ea voluptate optio id, fugiat incidunt magnam porro quam reiciendis nam similique voluptas ducimus?</p>
      </ul>
      <ul>
        <li>
          <h2>educacion  2</h2> - <h3>year</h3> - <h2>Institucion</h2> - <img src="../../../assets/" alt="logo de institucion"></li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloribus iste minus atque numquam facilis pariatur quos ducimus quasi laudantium debitis quis illo reiciendis sunt itaque recusandae sint nihil harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste blanditiis numquam velit suscipit repellendus recusandae quia ea voluptate optio id, fugiat incidunt magnam porro quam reiciendis nam similique voluptas ducimus?</p>
      </ul>
      <ul>
        <li>
          <h2>educacion 1</h2> - <h3>year</h3> - <h2>Institucion</h2> - <img src="../../../assets/" alt="logo de institucion"></li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloribus iste minus atque numquam facilis pariatur quos ducimus quasi laudantium debitis quis illo reiciendis sunt itaque recusandae sint nihil harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste blanditiis numquam velit suscipit repellendus recusandae quia ea voluptate optio id, fugiat incidunt magnam porro quam reiciendis nam similique voluptas ducimus?</p>
      </ul>
      <ul>
        <li>
          <h2>educacion 4</h2> - <h3>year</h3> - <h2>Institucion</h2> - <img src="../../../assets/" alt="logo de institucion"></li>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, doloribus iste minus atque numquam facilis pariatur quos ducimus quasi laudantium debitis quis illo reiciendis sunt itaque recusandae sint nihil harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste blanditiis numquam velit suscipit repellendus recusandae quia ea voluptate optio id, fugiat incidunt magnam porro quam reiciendis nam similique voluptas ducimus?</p>
      </ul>
    </div>
  </div>
</div>
