<div class="container-fluid">
  <div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="parent">
      <div class="div1">
        <circle-progress
          [percent]="85"
          [radius]="80"
          [responsive]="true"
          [title]="'HTML'"
          [titleColor]="'black'"
          [titleFontSize]="'30px'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#1976d2'"
          [innerStrokeColor]="'#1976d2'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="div2">
        <circle-progress
          [percent]="85"
          [radius]="80"
          [responsive]="true"
          [title]="'CSS'"
          [titleColor]="'black'"
          [titleFontSize]="'30px'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#1976d2'"
          [innerStrokeColor]="'#1976d2'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="div3">
        <circle-progress
          [percent]="85"
          [radius]="80"
          [responsive]="true"
          [title]="'Angular'"
          [titleColor]="'black'"
          [titleFontSize]="'30px'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#1976d2'"
          [innerStrokeColor]="'#1976d2'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="div4">
        <circle-progress
          [percent]="85"
          [radius]="80"
          [responsive]="true"
          [title]="'MySQL'"
          [titleColor]="'black'"
          [titleFontSize]="'30px'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#1976d2'"
          [innerStrokeColor]="'#1976d2'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="div5">
        <circle-progress
          [percent]="85"
          [radius]="80"
          [responsive]="true"
          [title]="'HTML'"
          [titleColor]="'black'"
          [titleFontSize]="'30px'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#1976d2'"
          [innerStrokeColor]="'#1976d2'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
      <div class="div6">
        <circle-progress
          [percent]="85"
          [radius]="80"
          [responsive]="true"
          [title]="'HTML'"
          [titleColor]="'black'"
          [titleFontSize]="'30px'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#1976d2'"
          [innerStrokeColor]="'#1976d2'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
    </div>
  </div>
</div>
