<div class="container-fluid">
  <div class="row">
    <h1>Proyectos</h1>
    <div class="proyecto">
      <h3>proyecto</h3> - <h4>fecha</h4> - <a href=""></a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate harum reiciendis aut alias ducimus, similique et repudiandae explicabo quam dignissimos. Asperiores, quo eius deleniti modi quasi numquam provident perferendis.</p>
      <img src="../../../assets/" alt="">
    </div>
    <div class="proyecto">
      <h3>proyecto</h3> - <h4>fecha</h4> - <a href=""></a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate harum reiciendis aut alias ducimus, similique et repudiandae explicabo quam dignissimos. Asperiores, quo eius deleniti modi quasi numquam provident perferendis.</p>
      <img src="../../../assets/" alt="">
    </div>
    <div class="proyecto">
      <h3>proyecto</h3> - <h4>fecha</h4> - <a href=""></a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate harum reiciendis aut alias ducimus, similique et repudiandae explicabo quam dignissimos. Asperiores, quo eius deleniti modi quasi numquam provident perferendis.</p>
      <img src="../../../assets/" alt="">
    </div>
    <div class="proyecto">
      <h3>proyecto</h3> - <h4>fecha</h4> - <a href=""></a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate harum reiciendis aut alias ducimus, similique et repudiandae explicabo quam dignissimos. Asperiores, quo eius deleniti modi quasi numquam provident perferendis.</p>
      <img src="../../../assets/" alt="">
    </div>

  </div>
</div>
